
/** Para testar depois com CANVAS em vez de grid DIV */
/* canvas {
    width: 300px;
    height:180px;
    background: black;
} */


body {
    background-color: #48466d;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='60' height='96' viewBox='0 0 60 96'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%236e688d' fill-opacity='0.4'%3E%3Cpath d='M36 10a6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-12 0 6 6 0 0 0-6-6 6 6 0 0 1-6-6V10a6 6 0 1 1 12 0 6 6 0 0 0 12 0zm24 78a6 6 0 0 1-6-6 6 6 0 0 0-6-6 6 6 0 0 1-6-6V58a6 6 0 1 1 12 0 6 6 0 0 0 6 6v24zM0 88V64a6 6 0 0 0 6-6 6 6 0 0 1 12 0v12a6 6 0 0 1-6 6 6 6 0 0 0-6 6 6 6 0 0 1-6 6z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

}

.grid {
    display: flex;
    width: 300px;
    height: 300px;
    background: rgb(177, 170, 170);
}

.grid div {
    width: 15px;
    height: 15px;
}

.shooter {
    background-color: turquoise;
}


.invader {
    background: purple;
    border-radius: 10px;
}


.boom {
    background: red;
}

.laser {
    background: yellow;
}




